<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include navigation.ejs %>
<div class="row">
  <div class="head">
    <div class="head-pic">
      <img src="/images/headphoto.png">
    </div>
    <div class="head-info">
      <div class="username">
        小白
      </div>
      <div class="usertag">欢迎来到尚名校Welcome to SMX</div>
    </div>
    <div class="head-logo">
      <img src="/images/headlogo.png">
    </div>
  </div>
  <div class="left-guide" >
    <div class="guide" id="student_course">我的课程</div>
    <div class="guide" id="student_re">推荐课程</div>
    <div class="guide" id="student_detail">个人信息</div>
  </div>
  <div class="right-tab">
    <ul>
      <li style="width: 30%">已完成</li>
      <li style="width: 30%">进行中</li>
      <li style="width: 30%" id="filter">申请中</li>
    </ul>
  </div>
  <div class="content">
    <div class="filter" style="display: none">
      <label>科目：</label>
      <select onchange="Sel()" id="subjectSelect">
        <option value="不限">不限</option>
        <option value="语文">语文</option>
        <option value="数学">数学</option>
        <option value="英语">英语</option>
        <option value="物理">物理</option>
      </select>
      <label>年级：</label>
      <select onchange="Sel()" id="classSelect">
        <option value="不限">不限</option>
        <option value="高一">高一</option>
        <option value="高二">高二</option>
        <option value="高三">高三</option>
      </select>
      <label>老师：</label>
      <select onchange="Sel()" id="nameSelect">
        <option value="不限">不限</option>
        <option value="齐书强">齐书强</option>
        <option value="李金泰">李金泰</option>
        <option value="赵宇航">赵宇航</option>
      </select>
    </div>

    <div class="course">
      <div class="course-pic">
        <img src="images/picture.jpg"/>
      </div>
      <div class="course-text">
        <div class="course-title">圆锥曲线1</div>
        <div class="course-info">
          <div class="classroom"> 教室2</div>
          <div class="duration">15:00-15:45</div>
          <div class="course-teacher"><a>齐书强老师</a></div>
        </div>
        <div class="progress">
          <span style="width: 30%;"></span></div>
        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
      </div>
    </div>
    <div class="course">
      <div class="course-pic">
        <img src="images/picture.jpg"/>
      </div>
      <div class="course-text">
        <div class="course-title">圆锥曲线</div>
        <div class="course-info">
          <div class="classroom"> 教室2</div>
          <div class="duration">15:00-15:45</div>
          <div class="course-teacher"><a>齐书强老师</a></div>
        </div>
        <div class="progress">
          <span style="width: 30%;"></span></div>
        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
      </div>
    </div>
    <div class="course">
      <div class="course-pic">
        <img src="images/picture.jpg"/>
      </div>
      <div class="course-text">
        <div class="course-title">圆锥曲线</div>
        <div class="course-info">
          <div class="classroom"> 教室2</div>
          <div class="duration">15:00-15:45</div>
          <div class="course-teacher"><a>齐书强老师</a></div>
        </div>
        <div class="progress">
          <span style="width: 30%;"></span></div>
        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
      </div>
    </div>
    <div class="course">
      <div class="course-pic">
        <img src="images/picture.jpg"/>
      </div>
      <div class="course-text">
        <div class="course-title">圆锥曲线</div>
        <div class="course-info">
          <div class="classroom"> 教室2</div>
          <div class="duration">15:00-15:45</div>
          <div class="course-teacher"><a>齐书强老师</a></div>
        </div>
        <div class="progress">
          <span style="width: 30%;"></span></div>
        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
      </div>
    </div>
    <div class="course">
      <div class="course-pic">
        <img src="images/picture.jpg"/>
      </div>
      <div class="course-text">
        <div class="course-title">圆锥曲线</div>
        <div class="course-info">
          <div class="classroom"> 教室2</div>
          <div class="duration">15:00-15:45</div>
          <div class="course-teacher"><a>齐书强老师</a></div>
        </div>
        <div class="progress">
          <span style="width: 30%;"></span></div>
        <div class="course-time"><a>截止时间：2017-7-14</a>&nbsp;&nbsp;&nbsp;<a>22:00</a></div>
      </div>
    </div>
    <div class="course-s">
      <img src="images/picture.jpg">
      <div class="course-title-s">圆锥曲线</div>
      <div class="course-teacher-s"><a>齐书强</a></div>
    </div>
    <div class="course-s">
      <img src="images/picture.jpg">
      <div class="course-title-s">圆锥曲线</div>
      <div class="course-teacher-s"><a>齐书强</a></div>
    </div>
    <div class="course-s">
      <img src="images/picture.jpg">
      <div class="course-title-s">圆锥曲线</div>
      <div class="course-teacher-s"><a>齐书强</a></div>
    </div>
    <div class="course-s">
      <img src="images/picture.jpg">
      <div class="course-title-s">圆锥曲线</div>
      <div class="course-teacher-s"><a>齐书强</a></div>
    </div>
    <div class="course-s">
      <img src="images/picture.jpg">
      <div class="course-title-s">圆锥曲线</div>
      <div class="course-teacher-s"><a>齐书强</a></div>
    </div>  <div class="course-s">
      <img src="images/picture.jpg">
      <div class="course-title-s">圆锥曲线</div>
      <div class="course-teacher-s"><a>齐书强</a></div>
    </div>
    <div class="course-s">
      <img src="images/picture.jpg">
      <div class="course-title-s">圆锥曲线</div>
      <div class="course-teacher-s"><a>齐书强</a></div>
    </div>
  </div>
  <button style="position: fixed;top:90%;left: 90%" id="goTopBtn">返回顶部</button>
</div>
</body>
<script src="javascripts/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    var toTopHeight = $(".left-guide").offset().top;
    //监听页面滚动
    $(window).scroll(function () {
      var sc = $(window).scrollTop();
      var rwidth = $(window).width()
      if (sc > 0) {
        $("#goTopBtn").css("display", "block");
      } else {
        $("#goTopBtn").css("display", "none");
      }
      //判断页面滚动超过导航时执行的代码
      if ($(document).scrollTop() > toTopHeight) {
        //检测是否为IE6。jQuery1.9中去掉了msie的方法，所以只好这样写
        if ('undefined' == typeof(document.body.style.maxHeight)) {
          //页面滚动的距离
          var scrollTop = $(document).scrollTop();
          //IE6下，用absolute定位，并设置Top值为距离页面顶部的距离
          $(".left-guide").css({'position': 'absolute', 'top': scrollTop + 'px'});
          $(".right-tab").css({'position': 'absolute', 'top': scrollTop + 'px'});
        } else {
          //IE6以上浏览器采用fixed定位
          $(".left-guide").addClass("guide_fixed");
          $(".right-tab").addClass("tab_fixed");
        }
      } else {//判断页面滚动没有超过导航时执行的代码
        if ('undefined' == typeof(document.body.style.maxHeight)) {
          //设置Top值为导航距页面顶部的初始值。（IE6为了防止浏览器一下滚动过多，所以不能采用直接去掉定位的方法）
          $(".left-guide").css({'position': 'absolute', 'top': toTopHeight + 'px'});
          $(".right-tab").css({'position': 'absolute', 'top': toTopHeight + 'px'});
        } else {
          //IE6以上浏览器移除fixed定位，采用默认流布局
          $(".left-guide").removeClass("guide_fixed");
          $(".right-tab").removeClass("tab_fixed");
        }
      }
    });

    $("#goTopBtn").click(function () {
      $('html').animate({scrollTop: 0},100);
      return false;
    })

    $("#filter").click(function () {
      $(".filter").toggle()
    })
  })
</script>
</html>
